/* h1{
    color: brown;
}
p{
    color: rgb(211, 140, 52);
} */
 /* #h{
    color: rgba(165, 42, 42, 0.868);
 }
p{
    color: rgba(95, 196, 33, 0.751);
 } */
 /* .target{
    color: rgb(211, 119, 5);
 } */
  /* *{
    color: red;
  } */
.target, #to , #hel{
    color: brown;

}